body {
   background-image: url("owl.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

h1  {
  color: black;
  background-color: darkgrey;
  border-radius: 20px;
  text-align: center;
}

button {
    /* align button in center */
    background-color: rgb(126, 151, 191);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
}

button:hover {
  background-color: rgb(116, 111, 181);
}

#displayRules {
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: auto;
}

.button {
    background-color: rgb(126, 151, 191);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {border-radius: 50%;}
.button2 {border-radius: 50%;}
.button3 {border-radius: 50%;}
.button4 {border-radius: 50%;}
.button5 {border-radius: 50%;}

footer {
    position: fixed;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    bottom: 5px;
    width: 90%;
    background-color: rgb(126, 151, 191);
    color: white;
    text-align: center;
    border-radius: 100px;
}

@media screen and (max-width: 700px) {

    #displayRules {
      border-radius: 5px;
      border: none;
      color: white;
      padding: 5px 5px;
      font-size: 15px;
      cursor: auto;
    }

    h1 {
      text-align: center;
      font-size: 18px;
      color: black;
    }

    h2, button {
        text-align: center;
        font-size: 15px;
        color: black;
        padding: 10px 20px;
    }

    footer {
      visibility: hidden;
    }
}
