body {
  background-color: whitesmoke;
}

h1 {
  background-color: lightgreen;
  text-align: center;
}

#computerPulls {
  background-color: peachpuff;
  padding: 20px;
  border: 20px;
  margin: 20px;
}
