html, body {
    margin: 5;
    height: 100%;
    background-image: url("picture166.png");
}

h1 {
  background-color: lightgrey;
  text-align: center;
}

h2:nth-child(2) {
  background-color: rgb(66, 134, 244);
  text-align: center;
}

h2:nth-child(3) {
  background-color: rgb(65, 205, 244);
  text-align: center;
}

h2:nth-child(4) {
  background-color: rgb(65, 244, 226);
  text-align: center;
}


div {
  text-align: center;
}

div.button {
  padding: 20px;
  border: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: lightblue;
}

div.button:hover {
  background-color: green;
}

.buttonClass {
  font-size: 20px;
}

div.center {
  display: flex;
  width: 90%;
}

.message_container {
  /* border: solid; */
  display: flex;
  width: 50%;
}

.message {
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
  border: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: lightgreen;
  color: black;
}

footer {
   position: fixed;
   bottom: 5px;
   background-color: red;
   color: white;
   text-align: center;
}
